body {
    height: 100%;
    margin: 0;
    // display: grid;
    grid-template-columns: auto 30%;
    font-family: 'Montserrat';
    background: #1d1b1d !important;
    color: #fff !important;
}

.transparent {
    background: rgba(0,0,0,0.4);
 }

 .color {
     position: absolute;
     font-size: 27rem;
     opacity: .17;
     top: -8%;
 }

 .pink {
    background: #ea0056;
 }

 .yellow {
     background: #e3e0b5;
     min-height: 300px;
 }